@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blockletter';
  src: url('../../public/fonts/Blockletter.otf');
}

@layer base {
  html,
  body {
    @apply text-white bg-black  font-thin;
    font-family: 'Oswald', sans-serif;
  }
  input,
  textarea,
  select {
    @apply text-black;
  }
  #nc-root {
    @apply text-black;
  }
  a:hover {
    @apply text-red cursor-pointer;
  }
  .link {
    @apply text-red transition duration-200 ease-in-out border-b-2 border-dotted border-transparent hover:border-red;
  }
  .mainbutton {
    @apply bg-red text-white text-xl py-3 px-8 rounded text-center max-w-fit;
  }
  .mainbutton:hover {
    @apply brightness-75 text-white;
  }
  .borderbutton {
    @apply text-white border-lightGray border-[1px] text-xl py-3 px-8 text-center max-w-fit hover:border-red;
  }
  h1 {
    @apply text-4xl md:text-5xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
  h4 {
    @apply text-xl md:text-2xl;
  }
  h5 {
    @apply text-lg md:text-xl;
  }
  hr {
    @apply border-0 border-b-2 border-gray-600 my-8;
  }
  .darkenedBackground {
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.005) 8.1%,
      hsla(0, 0%, 0%, 0.019) 15.5%,
      hsla(0, 0%, 0%, 0.042) 22.5%,
      hsla(0, 0%, 0%, 0.07) 29%,
      hsla(0, 0%, 0%, 0.104) 35.3%,
      hsla(0, 0%, 0%, 0.141) 41.2%,
      hsla(0, 0%, 0%, 0.18) 47.1%,
      hsla(0, 0%, 0%, 0.22) 52.9%,
      hsla(0, 0%, 0%, 0.259) 58.8%,
      hsla(0, 0%, 0%, 0.296) 64.7%,
      hsla(0, 0%, 0%, 0.33) 71%,
      hsla(0, 0%, 0%, 0.358) 77.5%,
      hsla(0, 0%, 0%, 0.381) 84.5%,
      hsla(0, 0%, 0%, 0.395) 91.9%,
      hsla(0, 0%, 0%, 0.4) 100%
    );
  }
  .circle-loader {
    margin-bottom: 3.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em;
  }

  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
  }

  .checkmark {
    display: none;
  }
  .checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  .checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: '';
    left: 1.75em;
    top: 3.5em;
    position: absolute;
  }

  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 1.75em;
      opacity: 1;
    }
    40% {
      height: 3.5em;
      width: 1.75em;
      opacity: 1;
    }
    100% {
      height: 3.5em;
      width: 1.75em;
      opacity: 1;
    }
  }
}
