@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Blockletter';
  src: url('../../public/fonts/Blockletter.otf');
}

@layer base {
  html,
  body {
    @apply text-white bg-black  font-thin;
    font-family: 'Oswald', sans-serif;
  }
  a:hover {
    @apply text-red cursor-pointer;
  }
  .link {
    @apply text-red transition duration-200 ease-in-out border-b-2 border-dotted border-transparent hover:border-red;
  }
  .mainbutton {
    @apply bg-red text-white text-xl py-3 px-8 rounded text-center max-w-fit;
  }
  .mainbutton:hover {
    @apply brightness-75 text-white;
  }
  .borderbutton {
    @apply text-white border-lightGray border-[1px] text-xl py-3 px-8 text-center max-w-fit hover:border-red;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
  hr {
    @apply border-0 border-b-2 border-gray-600 my-8;
  }
}
